@import "tailwindcss";

/* Custom colors */
@theme {
  --color-coral: #f05830;
  --color-slate: #303c67;
  --color-gray: #cdd0da;
  --color-peach: #fcded6;
  --color-mist: #f1eeeeb2;

  --color-background: #ffffff;
  --color-foreground: #171717;
}

/* global resets */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
